# Assignment-1

## 09may2023

### Q1. Create one variable containing following type of data:
* (i) string
* (ii) list
* (iii) float
* (iv) tuple

In [8]:
#String
a = "ronny"

#List
b = ["Ronny","techrathee",123,123.1,"Rohit"]

#Float
c = 123.5

#Tuple
d = ("priyanshu", "Harshraj","Rohit","techrathee")

# Print Type of all the variable 
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

### Q2. Given are some following variables containing data:
* (i) var1 = ‘ ‘
* (ii) var2 = ‘[ DS , ML , Python]’
* (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
* (iv) var4 = 1.

In [ ]:
Answer.
(i) var1 is an empty string with the value ''

(ii) var2 is a string containing the values 'DS', 'ML', and 'Python' within square brackets.

(iii) var3 is a list containing the values 'DS', 'ML', and 'Python'. The values are enclosed in square brackets.

(iv) var4 is an integer with the value 1.

### Q3. Explain the use of the following operators using an example:
* (i) /
* (ii) %
* (iii) //
* (iv) **

In [9]:
#Answer.
# (i) The / operator is the division operator in Python.
a = 10
b = 3

result = a / b
print(result)

3.3333333333333335

In [10]:
#(ii) The % operator is the modulus operator in Python. It calculates the remainder when one number is divided by another.
a = 10
b = 3

result = a % b
print(result)

1

In [11]:
#(iii) The // operator is the floor division operator in Python. 
a = 10
b = 3

result = a // b
print(result)

3

In [12]:
#(iv) The ** operator is the exponentiation operator in Python. It raises a number to the power of another number.
a = 2
b = 3

result = a ** b
print(result)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
#Here's an example of creating a list of length 10 with various data types and using a for loop to print each element and its corresponding data type:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], {'name': 'techrathee', 'age': 25}, (4, 5, 6), None, False, 'Ronny']

for i in my_list:
    print(f"Data: {i}, Type: {type(i)}")

Data: 10, Type: <class 'int'>
Data: Hello, Type: <class 'str'>
Data: 3.14, Type: <class 'float'>
Data: True, Type: <class 'bool'>
Data: [1, 2, 3], Type: <class 'list'>
Data: {'name': 'techrathee', 'age': 25}, Type: <class 'dict'>
Data: (4, 5, 6), Type: <class 'tuple'>
Data: None, Type: <class 'NoneType'>
Data: False, Type: <class 'bool'>
Data: Ronny, Type: <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [1]:
#Here's an example of using a while loop to verify if a number A is purely divisible by number B and counting how many times it can be divided:
A = 10
B = 2
count = 0

while A % B == 0:
    A = A // B
    count = count + 1

print(f"Number A is divisible by number B {count} times.")

Number A is divisible by number B 1 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [2]:
#Here's an example of how you can create a list containing 25 integer type data and use a for loop with an if-else condition 
#to print whether each element is divisible by 3 or not:
data_list = [12, 34, 15, 27, 8, 45, 9, 22, 33, 18, 7, 30, 42, 16, 25, 36, 14, 21, 39, 50, 28, 17, 11, 20, 31]

for num in data_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
34 is not divisible by 3.
15 is divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
45 is divisible by 3.
9 is divisible by 3.
22 is not divisible by 3.
33 is divisible by 3.
18 is divisible by 3.
7 is not divisible by 3.
30 is divisible by 3.
42 is divisible by 3.
16 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
39 is divisible by 3.
50 is not divisible by 3.
28 is not divisible by 3.
17 is not divisible by 3.
11 is not divisible by 3.
20 is not divisible by 3.
31 is not divisible by 3.

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
Answer.
Mutable data types, on the other hand, allow their state to be modified after they are created. 

Lists: 
    Lists are commonly used mutable data types. You can modify elements, append or remove items, and change their length.

In [2]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [3]:
numbers[1] = 5
print(numbers)

[1, 5, 3, 4]

In [4]:
del numbers[0]
print(numbers)

[5, 3, 4]

In [ ]:
Dictionaries: 
    Dictionaries are mutable collections of key-value pairs. You can add, remove, or modify key-value pairs in a dictionary.

In [5]:
person = {'name': 'John', 'age': 30}
person['age'] = 31
print(person)

{'name': 'John', 'age': 31}

In [6]:
person['city'] = 'New York'
print(person)

{'name': 'John', 'age': 31, 'city': 'New York'}

In [7]:
del person['age']
print(person)

{'name': 'John', 'city': 'New York'}

In [ ]:
Immutable data types are those whose state cannot be modified after they are created.

Strings:
    In many programming languages, strings are immutable.

In [11]:
r = "ronny"
r[1]= 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
Tuples:
    Tuples are another example of immutable data types.

In [15]:
r = ( "ronny",123,"techrathee","priyanshu")
r[3] = "rathod"

TypeError: 'tuple' object does not support item assignment